@using AlexLoveDaniel.Models
@model PersonIndexVM[]
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/css.css" />
</head>
<body align="center">

    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
        </tr>
        @foreach (var person in Model)
        {
            @if (person.ShowAsHighlighted)
            {
                <tr>
                    <td><span style="color:green;">@person.Name</span></td>
                    <td><span style="color:green;">@person.Email</span></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                </tr>
            }
        }
    </table>

    <br />
    <a asp-controller="Persons" asp-action="Create">Create</a>
    <a asp-controller="Persons" asp-action="Edit">Edit</a>
</body>
</html>